body {
  color: white;
  background-color: black;
}

.container {
  /* border: 2px solid white; */
  width: 800px;
  height: 700px;
  margin: 25px;
}
.child {
  /* margin-top: 100px; */
  width: 500px;
  height: 500px;
  /* border: 2px solid salmon; */
  /* background-color: aqua; */
  margin: 100px auto;
}
input {
  color: white;
  margin: 10px;
  width: 400px;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
}
button {
  margin: 10px;
}
